.btn-primary,
.btn-secondary,
.btn-inline {
    font-family: "Montserrat", sans-serif;
    border-radius: $border-radius * 2;
    display: inline-block;
    padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 4.8rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-main;
    font-weight: 500;
    color: $white;
    transition: background-color 0.3s;
    &:hover {
        background-color: $brand-blue-light;
    }
}

.btn-secondary {
    border: 1px solid $brand-blue-light;
    background-color: transparent;
    font-weight: 500;
    color: $brand-blue-light;
    transition: background-color 0.3s;
    &:hover {
        background-color: $brand-blue-light;
        color: $white;
    }
    &.white {
        background-color: $white;
        border: 1px solid $white;
        color: $brand-main;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: $brand-main;
        }
    }
}

.btn-inline {
    border: 1px solid $white;
    color: $white;
    border: 1px solid rgb(255 255 255 / 100%);
    background: linear-gradient(129.19deg, #142236 70%, rgba(20, 34, 54, 0) 133.36%);
    background: rgba(0, 0, 0, 0.17);
    -webkit-backdrop-filter: blur(8.1rem);
    backdrop-filter: blur(0.5rem);

    line-height: 4rem;

    &:hover {
        background-color: $white;
        color: $brand-main;
        transition: background-color 0.3s;
    }
}

@include responsive(600px) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}
