header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.8rem;
    display: flex;
    z-index: 3;
    .container {
        @include flex(row, center, space-between);
    }
    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;

                img {
                    margin-left: 1.2rem;
                }
                &:not(:first-child) {
                    margin-left: 4.8rem;
                }
                a {
                    font-family: "Inter", sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $white;
                    transition: color 0.3s;
                    &:hover {
                        color: #d1d1d1;
                    }
                }
            }
        }
    }
    @include responsive($tablet) {
        nav {
            ul {
                display: none;
            }
        }

        .dots {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-inline {
            display: none;
        }
    }
    @include responsive($mobile) {
        nav {
            ul {
                display: none;
            }
        }

        .dots {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-secondary {
            display: none;
        }
    }
}

.menu-mobile {
    background: $white;
    border-radius: 28px;
    border: 1px #e9e9e9 solid;
    width: 100%;
    height: 60vh;
    position: fixed;

    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    box-shadow: #121212 0px 20px 30px -10px;

    &__icons {
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        svg {
            width: 24px;
            margin: 8px;
        }
    }

    .icon-tabler-x {
        position: absolute;
        top: 16px;
        right: 21px;
        z-index: 20;
    }

    ul {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-55%);

        li {
            text-align: center;
            font-size: 2rem;
            margin: 24px 0;
            // font-weight: 700;
            a {
                color: $black;
            }
        }
    }
}

.show {
    display: block;
}

.dots {
    color: $white;
    background-color: $brand-main;
    padding: $gutter;
    border-radius: $border-radius * 10;
    margin-right: 30px;
    margin-top: 23px;
    display: none;

    // position: fixed;
    .icons-dots {
        display: none;
    }
}

.icons-mobile {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translate(-50%);
}
