.s-financial {
    padding: 90px 0;
    position: relative;

    background: #041020 url(../img/bg-financial.webp) no-repeat right top;
    background-size: contain;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(4, 16, 32, 1) 0%, rgba(4, 16, 32, 0) 100%);
        pointer-events: none;
    }

    .headline {
        justify-content: space-between;
        align-items: center;

        &__title {
            max-width: 40%;
            font-weight: 400;
        }
        &__subtitle {
            max-width: 50%;
            line-height: 140%;
        }
    }

    &__text {
        width: 100%;
        .mySwiper {
            position: relative;
            margin-top: 100px;
            padding: 20px;
            padding-bottom: 70px;

            :root {
                --swiper-navigation-size: 15px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                // position: relative;
                top: 90% !important;
                bottom: 0;
                background-color: #ffffff00;
                padding: 16px;
                border-radius: 50px;
                color: $brand-green-light;
                border: 1px solid $brand-green-light;

                &:hover {
                    background-color: $brand-main;
                    color: $white;
                }
            }
            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                right: 20px;
                left: auto;
            }
            .swiper-button-prev,
            .swiper-rtl .swiper-button-next {
                left: auto;
                right: 60px;
            }
            .swiper-pagination-bullet {
                background: #fff;
                transition: all 0.3s ease;
            }
            .swiper-pagination-bullet-active {
                background: $brand-green-light;
                width: 20px;
                height: 8px;
                border-radius: 5px;
            }
        }

        .card {
            height: auto;
            border: 1px solid rgba(197, 190, 220, 0.2);
            background: linear-gradient(129.19deg, #142236 70%, rgba(20, 34, 54, 0) 133.36%);
            background: rgb(0 0 0 / 17%);
            backdrop-filter: blur(1.1rem);
            padding: $gutter * 2;

            border-radius: $border-radius * 2;
            margin-right: 10px;
            overflow: auto;
            transition: all 0.3s ease-in;

            &:hover {
                border: 1px solid $brand-green-light;
                background: linear-gradient(141deg, #00112a 60%, rgb(0 13 84) 100.36%);
            }

            p {
                font-size: 1.6rem;
                color: #d4d4d4;
            }
            h3 {
                color: $white;
                font-size: 2rem;
            }
        }
    }

    @include responsive($tablet) {
        .headline {
            flex-direction: column;
            &__title {
                max-width: 100%;
                font-size: 2.8rem;
                margin-top: 20px;
                margin-bottom: 2rem;
            }
            &__subtitle {
                max-width: 100%;
            }
        }

        &__text {
            .mySwiper {
                margin-top: 20px;
            }
        }
    }

    @include responsive($mobile) {
        &__text {
            .card {
                height: auto;
            }
        }
    }

    /* WebKit (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #00b2b5 transparent;
    }

    /* Internet Explorer e Edge (versões antigas) */
    body {
        -ms-overflow-style: none; /* Oculta a barra de rolagem padrão */
    }

    body::-ms-scrollbar {
        width: 12px;
    }

    body::-ms-scrollbar-track {
        background: transparent;
    }

    body::-ms-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
}
