.s-facilidades {
    padding: 90px 0;
    background-color: rgba(241, 240, 245, 0.55);

    .d-flex {
        align-items: center;
    }

    .js-date-current {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateX(-57%);
        font-size: 1.2rem;
    }

    &__img {
        position: relative;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        img {
            display: flex;
            margin: auto;
        }
    }

    &__text {
        width: 70%;

        &-description {
            margin-top: $gutter * 3;
            color: $gray;
            max-width: 45rem;
            font-size: 1.8rem;
            line-height: 150%;
            margin-bottom: $gutter * 5;
        }

        .accordion-wrap {
            border-bottom: 1px solid #d7d7d7;
        }

        .accordion-item {
            width: 100%;
            margin: 0 auto;
            cursor: pointer;

            margin-top: 30px;
        }

        .accordion-header {
            transition: ease-in-out 100ms;
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;
        }

        .accordion-text {
            width: 100%;
            color: $gray;

            display: none;
            padding-top: 5px;
            padding-bottom: 20px;

            p {
                line-height: 140%;
            }
        }

        img {
            transition: ease-in-out 300ms;
        }

        .rotate {
            transition: transform 0.3s ease-in-out;
        }

        .rotate.rotate-fa {
            transform: rotate(180deg);
        }

        .accordion-header .fa {
            float: right;
            line-height: 35px;
        }

        .accordion-gold {
            color: $brand-blue-light;
        }

        .accordion-no-bar {
            border-bottom: 0;
        }
    }

    @include responsive($tablet) {
        .flex-mobile {
            flex-direction: column-reverse;
        }
        &__text {
            width: 100%;
        }

        &__img {
            width: 90%;
            margin-top: 80px;
        }
    }
}
