.s-hero {
    width: 100%;
    // height: 90vh;
    padding-top: 17.1rem;
    padding-bottom: 10.1rem;

    background: linear-gradient(-90deg, rgba(5, 23, 30, 0) 50%, rgba(5, 23, 30, 0.76) 60%, rgba(5, 23, 30, 1) 99.93%),
        linear-gradient(rgba(5, 23, 30, 0) 40%, rgba(5, 23, 30, 0.8) 90%, rgba(5, 23, 30, 0.86) 99.93%),
        url(../img/hero.webp);
    background-repeat: no-repeat;
    background-position: right;
    // background-size: cover;
    background-color: #0e2127;

    .d-flex {
        align-items: end;
        justify-content: space-between;
    }

    &__text {
        width: 60%;
        margin-bottom: 3.9rem;
        position: relative;
        z-index: 2;

        &-tag {
            font-weight: 500;
            font-size: 1.3rem;
            background-color: $brand-main;
            color: $white;
            width: auto;
            height: 26px;
            padding: 0 $gutter * 2;
            border-radius: 12rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        &-description {
            max-width: 100%;
            font-family: $font-inter;
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 1.8rem;
            line-height: 150%;
            color: $white;
        }

        .message {
            font-size: 1.4rem;
            font-weight: 600;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 1px;
                background-color: rgb(236, 236, 236);
                top: 50%;
                left: -10%;
            }
        }

        &-title {
            font-size: 4.8rem;
            line-height: 130%;
            font-weight: bold;
            margin-top: 1.4rem;
            color: $white;
            max-width: 74rem;
        }

        .btn-secondary {
            margin-top: 70px;
        }
    }

    &__items {
        width: 40%;
        flex-wrap: wrap;

        &-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
        }

        .services {
            width: calc(45% - 10px);
            flex-wrap: wrap;
            backdrop-filter: blur(20px);
            background: rgba(25, 25, 25, 0.6);
            border-radius: 6px;
            color: $white;
            margin: 5px;
            padding: 8px;

            display: flex;
            align-items: center;
        }
    }

    @include responsive(1200px) {
        background-size: cover;
        .d-flex {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        &__text {
            width: 100%;
            &-title {
                max-width: 100%;
                padding: 20px;
            }
            &-btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    //tablet
    @include responsive($tablet) {
        background-size: cover;
        .d-flex {
            flex-direction: column;
        }
        &__text {
            text-align: center;
            &-title {
                font-size: 3rem;
            }
            &-description {
                max-width: 100%;
            }
        }

        &__items {
            width: 100%;
            &-flex {
                align-items: center;
                justify-content: center;
            }
            .services {
                display: relative;
                width: 40%;
            }
        }
    }

    //mobile
    @include responsive($mobile) {
        padding-top: 10.1rem;
        height: auto;
        background: linear-gradient(
                -180deg,
                rgba(5, 23, 30, 0) 30%,
                rgba(5, 23, 30, 0.76) 60%,
                rgba(5, 23, 30, 1) 99.93%
            ),
            linear-gradient(rgba(5, 23, 30, 0) 5%, rgba(5, 23, 30, 0.8) 60%, rgba(5, 23, 30, 0.86) 99.93%),
            url(../img/hero.webp);
        background-repeat: no-repeat;
        background-position: right 42% bottom -1%;
        background-size: cover;

        &__text {
            &-title {
                font-size: 3rem;
                margin-top: 0;
            }
            &-description {
                font-size: 1.6rem;
            }

            .message {
                max-width: 60%;
            }
        }
        &__items {
            .services {
                display: relative;
                width: 46%;
            }
        }
    }
}
