h1 {
    font-weight: 600;
    font-size: 6.4rem;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-size: 2.4rem;
    line-height: 150%;
}

h4 {
    font-size: 2rem;
    line-height: 112%;
}
h1,
h2 {
    line-height: 112%;
    letter-spacing: -1px;
}
h3,
h4 {
    font-weight: 500;
    // letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
    color: $gray-500;
}

p {
    font-size: clamp(1.6rem, 1.6rem, 1.7rem);
    line-height: 140%;
}

@include responsive($mobile) {
    h2 {
        font-size: 2.8rem;
    }
}
